div#contact {
    text-align: center;
}

.portfolio-desc {
    font-family:sans-serif;
    font-weight:100;
    text-align: center;
    font-style: italic;
}

.card-content.info {
	padding-bottom: 10px;
}

nav {
	background-color: #92bec4;
	margin-bottom: 20px;
}

.container {
	width: 85%;
}
